.footer {
  background-color: var(--primary-color);
}

.Item {
  text-align: center;
  margin: auto;
  display: block;
  margin: 0.5rem;
}

.Attribution {
  font-size: 0.5rem;
}

.Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}
