.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  background-color: var(--primary-color);
  min-height: 10vh;
}

.heading {
  margin: 1rem;
  color: var(--light);
  display: flex;

  flex-direction: column;

  justify-content: center;
}

.heading a {
  display: flex;
  gap: 1rem;
}

.heading span {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 1150px) {
  .heading span {
    display: none;
  }
}
