.movieGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 18rem);
  column-gap: 2rem;
  row-gap: 1rem;
  justify-content: center;

  list-style: none;

  margin: 0;
  padding: 2rem 4rem;
}

.movieCard {
  height: 22rem;
  background-color: var(--light);
  border-radius: 1rem;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
