.searchBox {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  background-color: var(--light);
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  height: 3rem;
  width: clamp(350px, 50%, 1400px);
  align-self: center;
  margin: 1rem;
}

.input {
  padding: 10px;
  flex-grow: 1;
  border-radius: 4px;
  border: none;
  background: transparent;
}

.input::placeholder {
  color: var(--dark);
}

.input:focus {
  outline: none;
}

.button {
  background-color: var(--light);
  border: none;
  cursor: pointer;
}

.Magnify {
  height: 100%;
}
