:root {
  --light: #f2fdff;
  --primary-color: #e34a6f;
  --secondary-high-contrast: #8652b7;
  --secondary-low-contrast: #f9e900;
  --dark: #42253b;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
